version: 2.1
jobs:
  build:
    working_directory: ~/cours-l2
    docker:
      - image: circleci/node:10.16.3
    steps:
      - checkout
      - run:
          name: test javascript exercices
          command: yarn global add jest && cd javascript && ~/.yarn/bin/jest javascript/test.js && cd ..
#      - run:
#          name: test button
#          command: cd button && yarn install & yarn test && cd ..
#      - run:
#          name: test timer
#          command: cd timer && yarn install & yarn test && cd ..
      - store_artifacts:
          path: test-results.xml
          prefix: tests
